My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "17TN9Sh6LNKRhGSc-_1Aao3hoRY7t6_C-LMblP0qlJU0",
          "mode": "list",
          "cachedResultName": "Untitled form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17TN9Sh6LNKRhGSc-_1Aao3hoRY7t6_C-LMblP0qlJU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 359696008,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17TN9Sh6LNKRhGSc-_1Aao3hoRY7t6_C-LMblP0qlJU0/edit#gid=359696008"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ca3c7ba1-31c2-492d-b63e-6c0b3e4528f3",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "O2nhTq1asFcgCOCU",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "74bb1400-f7af-4ae0-9c98-089fcdeee81c",
              "leftValue": "={{ $json['No. of leaves taken'] }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "3a3bc83e-f6a1-405f-8174-d831db050b62",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "not approved",
        "message": "={{ $json.Name }} your leave is not approved",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        -96
      ],
      "id": "552a6b44-2225-46ed-8f10-2d0969e1fa91",
      "name": "Send a message",
      "webhookId": "8633c2af-6a6a-47cd-b31d-20788ebba1e8",
      "credentials": {
        "gmailOAuth2": {
          "id": "cWu32mEQ5A4lqO73",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "approved",
        "message": "={{ $json.Name }} your leave is approved",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        96
      ],
      "id": "66950ee3-c689-45fe-a93a-1901dc61608f",
      "name": "Send a message1",
      "webhookId": "14e0e80a-8877-4106-afc2-889960682235",
      "credentials": {
        "gmailOAuth2": {
          "id": "cWu32mEQ5A4lqO73",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17TN9Sh6LNKRhGSc-_1Aao3hoRY7t6_C-LMblP0qlJU0",
          "mode": "list",
          "cachedResultName": "Untitled form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17TN9Sh6LNKRhGSc-_1Aao3hoRY7t6_C-LMblP0qlJU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 359696008,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17TN9Sh6LNKRhGSc-_1Aao3hoRY7t6_C-LMblP0qlJU0/edit#gid=359696008"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null,
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -96
      ],
      "id": "cd06b92f-de15-42bc-88c4-a716eb4ea25e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5aT8ATu2zmQIsRAG",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17TN9Sh6LNKRhGSc-_1Aao3hoRY7t6_C-LMblP0qlJU0",
          "mode": "list",
          "cachedResultName": "Untitled form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17TN9Sh6LNKRhGSc-_1Aao3hoRY7t6_C-LMblP0qlJU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 359696008,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17TN9Sh6LNKRhGSc-_1Aao3hoRY7t6_C-LMblP0qlJU0/edit#gid=359696008"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "No. of leaves taken",
              "displayName": "No. of leaves taken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        96
      ],
      "id": "1bb4480e-dbb2-48dd-afc8-d8c7418041d5",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5aT8ATu2zmQIsRAG",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a9e512c9-0b7f-4c86-8ac8-2b8cb6035106",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2c44b425c3eedc5a2e1ccdaab9c4e4a632a9220902bb9517e7f43fba6372b47"
  },
  "id": "eek8uITFyyYKtkzv",
  "tags": []
}